body{
    background-color:#21313d;
    text-shadow: 1px 1px black;
    color: #c8d1da;
}
#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
   text-align: center;
   color: white;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}
input{
    background-color:#c8d1da;
}
#loginButton,#registerButton{
    margin: 5%;
}
button{
    background-color: #f7d774;
    transition: all, 0.2s ease;
}
button:hover{
    background-color: #b39b51
}
