html,body{
    margin: 0;
    background-color: #21313d;
    height: 100%;
}
#container{
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#errorMessage{
    font-size: larger;
    text-align: center;
    color: white;
}
#close{
    width:80px;
    height: 30px;
    background-color: white;
    transition: all 0.2s ease;
}
#close:hover{
    background-color: darkgray;
}