html,body{
    background-color:skyblue;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
#container{
    position: relative;
    top: 2%;
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-between;
    align-items: center;
}

#profileContainer{
    background-color: white;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    font-size: larger;
    border: 1px solid black;
    border-right: none;
}
#profileContainer>*{
    margin: 3%;
}
#requestsMenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 6%;
    height: 7%;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    cursor: pointer;
    transition: all 0.2s ease;
}
#requestsMenu:hover{
    border: 1.5px solid rgb(184, 184, 184);
}
#requestsMenuNotifier{
    position: absolute;
    top: 4%;
    left: 5%;
    width: 2%;
    height: 2.5%;
    border-radius: 50%;
    
}
#requestsMenuNotifier.new{
    background-color: lime;
    border: 1px solid black;

}
#profileIcon{
    cursor: pointer;
    width: 55%;
    height: 25%;
    background-color: lightblue;
    border-radius: 50%;
}
#nameContainer{
    width: 50%;
    background-color: white;    
    border: 1px solid black;
    text-align: center;
}
#contactsContainer{
    background-color:   white;
    height: 99.8%;
    width: 65%;   
    border: 1px solid black;
}
#contacts{
    width: 100%;
    height: 94.9%;
    overflow-y: auto;
}
.contactProfilePicture{
    width: 7%;
    height: 30%;
    border-radius: 50%;
    background-color: black;
}
#sortingContainer{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: white;
    width: 99.9%;
    height:5%;
}
.sortingButton{
    height: 100%;
}
.contactContainer{
    width: 100%;
    height: 20%;
    border-bottom: 1px black solid;
    background-color: white;
    display: flex;
    font-size: larger;
    justify-content: space-between;
    align-items: center;
}
.contactContainer>*{
    margin: 3%;
}


.contactDetails{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contactStatus.Online{
    color: lightgreen;
}
.contactStatus.Offline{
    color: red;
}